<div th:fragment="head">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" ></meta>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	
    <div sec:authorize="hasRole('ROLE_ADMIN')">
		<div class="navbar navbar-inverse">
			 <div class="container-fluid">
				 <div class="navbar-header">
					 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynavbar-content">
					 <span class="icon-bar"></span>
					 <span class="icon-bar"></span>
					 <span class="icon-bar"></span>
					 </button>
					 <a class="navbar-brand" th:href="@{/}">Shop</a>
				 </div>
				 <div class="collapse navbar-collapse" id="mynavbar-content">
				 	<ul class="nav navbar-nav">
						 <li class="active"><a th:href="@{/products/add}">Dodaj produkt</a></li>
						 <li class="active"><a th:href="@{/list/users}">Pokaż użytkowników</a></li>
						 <li class="active"><a th:href="@{/list/orders}">Pokaż zamówienia</a></li>
					</ul>
					 <div sec:authorize="isAuthenticated()"> 
 						 <ul class="nav navbar-nav navbar-right">
							 <li><a th:href="@{/logmeout}">Logout</a></li>
						 </ul>	 
					 </div>
			     </div>
		     </div>
		</div>
	</div>
		
	<div sec:authorize="!hasRole('ROLE_ADMIN')">
		<div class="navbar navbar-inverse">
			 <div class="container-fluid">
				 <div class="navbar-header">
					 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynavbar-content">
					 <span class="icon-bar"></span>
					 <span class="icon-bar"></span>
					 <span class="icon-bar"></span>
					 </button>
					 <a class="navbar-brand" th:href="@{/}">Shop</a>
				 </div>
				 <div class="collapse navbar-collapse" id="mynavbar-content">
					<div sec:authorize="isAnonymous()">
						 <ul class="nav navbar-nav navbar-right">
							 <li><a th:href="@{/register}">Zarejestruj się</a></li>
							 <li><a th:href="@{/login}">Zaloguj się</a></li>
						 </ul>
					 </div>
					 <div sec:authorize="isAuthenticated()"> 
						 <ul class="nav navbar-nav navbar-right">
							 <li class="dropdown">
								 <a class="dropdown-toggle" data-toggle="dropdown" href="#">Panel użytkownika<span class="caret"></span></a>
								 <ul class="dropdown-menu">
								 	 <li><a th:href="@{/userPage}">Konto</a></li>
									 <li><a th:href="@{/cart}">Koszyk</a></li>
									 <li><a th:href="@{/list/orders}">Pokaż zamówienia</a></li>
									 <li class="divider"></li>
									 <li><a th:href="@{/logmeout}">Wyloguj</a></li>
								 </ul>
							 </li>
						 </ul>		 
					 </div>
				 </div>
			</div>
		</div>
	</div>
</div>