<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<link rel="stylesheet"
	href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"></link>
<title th:text="#{add.product.title}"></title>
</head>
<body>
	<div class="container">
       	<div th:include="fragments/header::head"></div>

			<div class="container">

		    <h1 th:text="#{add.product.message}"></h1>
		    <form  method="post" action="upload" th:action="@{/products/add}" th:object="${product}" enctype="multipart/form-data">
		        <input th:field="*{name}" th:placeholder="#{add.name}" /><br />
		        <input th:field="*{unitPrice}" th:placeholder="#{add.price}" /><br />
		        <input th:field="*{manufacturer}" th:placeholder="#{add.manufacturer}" /><br />
		        <input th:field="*{description}" th:placeholder="#{add.description}" /><br />
		        <input th:field="*{unitsInStock}" th:placeholder="#{add.stockunits}" /><br />
		        <input th:field="*{brand}" th:placeholder="#{add.brand}" /><br />
				<select th:field="*{category}" class="selectpicker" data-style="btn-primary">
				  <option th:value="fridge" th:text="#{fridge}"></option>
				  <option th:value="refrigerator" th:text="#{refrigerator}"></option>
				  <option th:value="coolerbox" th:text="#{coolerbox}"></option>
				  <option th:value="cabinet" th:text="#{cabinet}"></option>
				  <option th:value="accessory" th:text="#{accessories}"></option>
				</select>
 		        
		        <input type="submit" th:value="#{add.add}" value="Add" />
		    </form>
    	</div>
    	</div>
</body>
</html>