<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<link rel="stylesheet"
	href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"></link>
<title>Dodawanie produktu</title>
</head>
<body>
	<div class="container">
       	<div th:include="fragments/header::head"></div>

			<div class="container">

		    <h1>Adding a product</h1>
		    <form  method="post" action="upload" th:action="@{/products/add}" th:object="${product}" enctype="multipart/form-data">
		        <input th:field="*{name}" placeholder="Name" /><br />
		        <input th:field="*{unitPrice}" placeholder="Price" /><br />
		        <input th:field="*{manufacturer}" placeholder="Manufacturer" /><br />
		        <input th:field="*{description}" placeholder="Description" /><br />
		        <input th:field="*{unitsInStock}" placeholder="Units in stock" /><br />
		        <input th:field="*{unitsInOrder}" placeholder="Units in order" /><br />
		        <input th:field="*{brand}" placeholder="Brand" /><br />
				<select th:field="*{category}" class="selectpicker" data-style="btn-primary">
				  <option th:value="fridge">Lodówka</option>
				  <option th:value="refrigerator">Zamrażarka</option>
				  <option th:value="coolerbox">Lodówka turystyczna</option>
				  <option th:value="cabinet">Lady i wytryny chłodnicze</option>
				  <option th:value="accessory">Akcesoria do lodówek</option>
				</select>
 		        
		        <input type="submit" value="Add" />
		    </form>
    	</div>
    	</div>
</body>
</html>