<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"></link>
		<title >Zamówienia</title>
	</head>
	<body>
		<div class="container">
	       	<div th:include="fragments/header::head"></div>
			<section>
				<div class="container">
					<div class="page-header">
						<h1 th:text="#{order.message.plural}"></h1>
					</div>
				</div>
			</section>
			<div class="container">
				<div sec:authorize="hasRole('ROLE_ADMIN')">
					<div class="panel-body">
						<div class="row" th:each="order : ${orders}">
							<a th:href="@{'/anorder?id=' + ${order.id}}" style="color:inherit;">
						
								<div class="col-xs-1 text-right">
									<h4 class="product-name"><strong th:text="${order.id}"></strong></h4>
								</div>
								<div class="col-xs-2">
									<h6><strong th:text="${order.user.email}"></strong></h6>
								</div>
								<div class="col-xs-2 text-right">
									<h6><strong th:text="${order.purchaseTime}"></strong></h6>
								</div>
								<div class="col-xs-1 text-right">
									<h6><strong th:text="${#lists.size(order.orderItems)}"></strong></h6>
								</div>
								<div class="col-xs-2">
									<h6><strong th:text="${order.total}"></strong></h6>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div sec:authorize="!hasRole('ROLE_ADMIN')">
					<div class="panel-body">
						<div class="row" th:each="order : ${userOrders}">
							<a th:href="@{'/anorder?id=' + ${order.id}}" style="color:inherit;">
						
								<div class="col-xs-1 text-right">
									<h4 class="product-name"><strong th:text="${order.id}"></strong></h4>
								</div>
								<div class="col-xs-2">
									<h6><strong th:text="${order.user.email}"></strong></h6>
								</div>
								<div class="col-xs-2 text-right">
									<h6><strong th:text="${order.purchaseTime}"></strong></h6>
								</div>
								<div class="col-xs-1 text-right">
									<h6><strong th:text="${#lists.size(order.orderItems)}"></strong></h6>
								</div>
								<div class="col-xs-2">
									<h6><strong th:text="${order.total}"></strong></h6>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>