<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"></meta>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"></link>
		<title th:text="#{registration.form.title}"></title>
	</head>
	<body>
		<div class="container">
			<div th:include="fragments/header::head"></div>
				<div class="container">
			    <h1 th:text="#{registration.form.title}"></h1>
			    <form action="#" method="post" th:action="@{/register}" th:object="${user}">
			        <input th:field="*{firstName}" placeholder="#{register.firstname}" /><br />
			        <input th:field="*{lastName}" placeholder="#{register.lastname}" /><br />
			        <p th:errors="*{email}">Email errors</p>
			        <input th:field="*{email}" type="email" placeholder="#{register.email}" /><br />
			        <p th:errors="*{password}">Password errors</p>
			        <input th:field="*{password}" type="password" placeholder="#{register.password}" /><br />
			        <input type="submit" th:value="#{register.button}" />
			    </form>
	    	</div>
	    </div>
	</body>
</html>