<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
		<link rel="stylesheet"
			href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"></link>
		<title>Konto użytkownika</title>
	</head>
	<body>
		<div class="container">
	       	<div th:include="fragments/header::head"></div>	
				<div class="container">
					<div class="row">
						<div class="col-md-5">
							<p>
								<a th:href="@{/deleteUser}" class="btn btn-danger">
									<span class="glyphicon glyphicon-trash"></span> Usuń konto
								</a>
							</p>
							<p>
								<a th:href="@{/deleteUser}" class="btn btn-info">
									<span class="glyphicon glyphicon-trash"></span> Zmień hasło
								</a>
							</p>
							<h3 >Dane użytkownika</h3>

							<p>
								<strong>Imię: </strong><span class="label label-warning" th:text="${user.firstName}"></span>
							</p>
							<p>
								<strong>Nazwisko: </strong><span th:text="${user.lastName}"></span>
							</p>
							<p>
								<strong>Email: <span th:text="${user.email}"></span></strong>
							</p>

							<p>
								<a th:href="@{/products}" class="btn btn-default">
									<span class="glyphicon-hand-left glyphicon"></span> Powrót
								</a>
							</p>
						</div>
					</div>
				</div>
			</div>
	</body>
</html>